<section class="hero">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h1 class="hero-title">Üdvözöljük a DrinkIsland oldalon!</h1>
        <p class="hero-text">Fedezze fel a világ legfinomabb koktél receptjeit és készítse el otthon!</p>
      </div>
      <div class="col-lg-6">
        <img src="/assets/img/Manhattan.jpg" alt="Koktél" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="feature">
          <i class="fas fa-cocktail fa-3x"></i>
          <h3>Koktél Receptek</h3>
          <p>Ismerje meg a legújabb és legjobb koktél recepteket, amelyeket könnyen elkészíthet otthon.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="feature">
          <i class="fas fa-glass-cheers fa-3x"></i>
          <h3>Koktél Kiegészítők</h3>
          <p>Ismerje meg a legnépszerűbb koktél kiegészítőket és felszereléseket a tökéletes ital elkészítéséhez.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="feature">
          <i class="fas fa-users fa-3x"></i>
          <h3>Látogass vissza!</h3>
          <p>Csatlakozzon közösségünkhöz, mentse el kedvelt receptjeit hogy később könnyedén megtalálja!.</p>
          <a routerLink="/justsignup" class="btn btn-primary btn-lg">Regisztráció</a>
        </div>
      </div>
    </div>
  </div>
</section>
