<body>

    <div id="Main_title">
      <h1>DrinkIsland</h1>
      <p>Az ízek harmóniája</p>
    </div>

  <div class="Main_down">
    <div id="feature-section" class="sectionRowClass">
      <div id="introduce" class="sectionColClass">
        <h2>Több száz Koktél</h2>
        <div id="Ízelítő">
          <p>
            Minden Koktél egyedi, karakteres ízvilággal rendelkezik.</p>
        </div>
        <a class="nyomógomb" routerLink="/recipes">Koktél katalógus</a>
      </div>
      <div class="sectionColClass">
        <img
          src="https://hamuesgyemant.hu/media-library/koktelok.jpg?id=33107403&width=1200&height=800&quality=85&coordinates=0%2C0%2C0%2C1" />
      </div>
    </div>

    <div id="Tovább" class="sectionRowClass">
      <div class="sectionColClass">
        <h2>Oldal lehetőségei:</h2>
        <div id="További_ízelítő">
          <p>Lehetőséget nyújtunk a felhasználóknak különböző koktelok kipróbálására.</p>
        </div>

        <div class="sectionRowClass">
          <!-- első -->
          <div class="sectionColClass feature-item">
            <div data-type-icon class="Koktél-ikonok koktél-ikon-kinézet ">
              <svg viewBox="0 0 24 24">
                <path
                  d="M16 9h3l-5 7m-4-7h4l-2 8M5 9h3l2 7m5-12h2l2 3h-3m-5-3h2l1 3h-4M7 4h2L8 7H5m1-5L2 8l10 14L22 8l-4-6H6z">
                </path>
              </svg>
            </div>
            <h3>Koktélok</h3>
            <div class="Részletező">
              <p>Megismerhetsz szezonális, gyümölcsös koktélokat</p>
            </div>
          </div>
          <!-- második -->
          <div class="sectionColClass feature-item">
            <div data-type-icon class="Koktél-ikonok koktél-ikon-kinézet">
              <svg viewBox="0 0 24 24">
                <path
                  d="M16 9h3l-5 7m-4-7h4l-2 8M5 9h3l2 7m5-12h2l2 3h-3m-5-3h2l1 3h-4M7 4h2L8 7H5m1-5L2 8l10 14L22 8l-4-6H6z">
                </path>
              </svg>
            </div>
            <h3>Receptek</h3>
            <div class="Részletező">
              <p>Ha netán piálni akarsz, akkor mi megmutatjuk, mit dobj a pohárba. </p>
            </div>
          </div>
          <!-- harmadik -->
          <div class="sectionColClass feature-item">
            <div data-type-icon class="Koktél-ikonok koktél-ikon-kinézet">
              <svg viewBox="0 0 24 24">
                <path
                  d="M16 9h3l-5 7m-4-7h4l-2 8M5 9h3l2 7m5-12h2l2 3h-3m-5-3h2l1 3h-4M7 4h2L8 7H5m1-5L2 8l10 14L22 8l-4-6H6z">
                </path>
              </svg>
            </div>
            <h3>Kalkulátor</h3>
            <div class="Részletező">
              <p>Épp innál valamit, de nem tudod mikor ürül ki? Kalkulálj velünk!</p>
            </div>
          </div>
          <!-- itt a vége -->
        </div>
      </div>
    </div>
  </div>
</body>
