<div class="container col-lg-6 col-md-6 col-sm-12">
    <h1>Üdvözöljük a Drink Island-en!</h1>
    <p>Ez az oldal a Drink Island bemutatkozó oldala.</p>
  
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptate minus commodi molestiae ab dolorum, numquam pariatur totam delectus fugiat soluta atque quidem eum vel voluptatum excepturi aspernatur fuga nulla blanditiis! Hic dolorem placeat necessitatibus laudantium provident voluptates ipsam quo, ex reiciendis doloribus inventore quaerat aperiam quisquam enim quos totam quasi rem eos est corrupti sed eveniet vero? Voluptatem atque quo eveniet repudiandae doloremque, facere quidem?
        </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda possimus rem ad sequi minima cumque tempora, sapiente quos corrupti quasi quis impedit accusantium vero fuga ipsum error quas placeat alias distinctio ducimus, eveniet accusamus? Vitae, facilis quibusdam eaque odio error aliquam consequatur. Alias, velit hic, enim a sit repellat sunt sed facere mollitia recusandae molestias repellendus incidunt cum.
        </p>
      </div>
    </div>
  </div>
  