body{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3rem;
  color: #fff;
  margin: 0;
  padding: 0;
}

#Main_title {

  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 1000px;
  width: 100%;
  background: url(../../assets/img/iw.jpg);
  background-position: center;
  background-size: cover;
  justify-content: center;
}

#Main_title p{
  color: #fff;
  font-size: 20px;
  margin-top: 0;
  padding: 0;
}

.Main_down{
  background-color: blue;
}
#feature-section {
  justify-content: center;
  padding: 80px 20px 80px 20px;
}

#Tovább {
  justify-content: center;
  padding: 80px 20px 80px 20px;
}

#introduce {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#Ízelítő {
  padding: 10px;
  max-width: 750px;
  padding-left: 0px;
  padding-right: 0px;
}

#További_ízelítő {
  padding: 10px;
  max-width: 750px;
  margin-bottom: 70px;
  padding-left: 0px;
  padding-right: 0px;
}

.Részletező {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.Koktél-ikonok {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  vertical-align: middle;
  fill: currentColor;
  width: 50px;
  height: 50px;
}

.Koktél-ikonok.koktél-ikon-kinézet {
  padding: 10px;
  background-color: #4de1ff;
  color: white;
  border-radius: 10px;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 5px 0 rgba(0,0,0,.19);
}

.nyomógomb {
  vertical-align: top;
  max-width: 100%;
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 10px;
  background-color: rgb(36, 99, 235);
  border-radius: 5px;
  font-size: 1.1rem;
  text-align: center;
}

.nyomógomb:hover{
  background-color: red;
}

img{
  color: black;
  border-radius: 35px;
  max-width: 100%;
}

.sectionRowClass {
  display: flex;
}

.sectionColClass {
  flex: 1 1 0%;
}


.sectionColClass.feature-item {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 30%;
}
