<div class="ingredient-component col-xs-sm-md-lg" [style.background-image]="'url(' + backgroundImageUrl + ')'">
  <div class="body">
    <div class="card md-3 mb-5">
      <div class="card-header">
        <b>Koktél Poharak: A Koktélozás Egyedi Hangulata</b>
      </div>
      <div class="card-body ">
        <blockquote class="blockquote ">
          <p style="font-style: oblique; margin-bottom: 25px;">A koktélozás művészete nem csupán az italok
            kiválasztásáról és keveréséről szól, hanem az esztétikáról és az
            élményről is. A megfelelő pohár kiválasztása lényeges része ennek az élménynek, hiszen segít kiemelni az
            italok
            ízét és megjelenését.</p>
          <p>Néhány fontos dolog, amit érdemes tudni a koktél poharakról:</p>
          <ol>
            <li>Forma és Méret: A poharak formája és mérete jelentősen befolyásolja az ital prezentációját és az
              ízélményt.</li>
            <li>Anyag: Minőségi üvegpoharak jobban tartják a hőt és a hideget, és hozzájárulnak az italok ízének
              megőrzéséhez.</li>
            <li>Díszítés és Kiegészítők: Citrus héj, koktélbogyók, színes szívószálak és egyéb dekorációk segítenek
              fokozni az
              ital vizuális vonzerejét.</li>
            <li>Szokatlan formák és különleges poharak: Ezek a poharak hozzájárulnak az élmény különlegességéhez és
              egyediségéhez.</li>
          </ol>
          <footer class="blockquote-footer">
            A megfelelő koktél poharak kiválasztása és használata tehát nem csupán az ital
            szervírozásáról szól, hanem az egész koktélozás élményének fokozásáról.
          </footer>
        </blockquote>
      </div>
    </div>

    <!-- Koktél Alapanyagok -->
    <div class="card md-3 mb-5">
      <div class="card-header">
        <b>Koktél Alapanyagok: Az Ízek Mesterei</b>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p style="font-style: oblique; margin-bottom: 25px;">
            A koktélkészítés művészete sokféle alapanyag összehangolását igényli, hogy azokból az ízekből és illatokból
            harmonikus italok születhessenek. Néhány alapvető, ám rendkívül fontos alapanyag, amelyek nélkül
            elképzelhetetlen lenne a koktélvilág:
          </p>
          <ul>
            <li>Citrusok: A friss citrusok, mint a citrom, lime és narancs, alapvető fontosságúak a koktélkészítésben.
            </li>
            <li>Szirupok és Likőrök: Különféle szirupok és likőrök, mint például a cukorszirup, grenadine, triple sec és
              édes
              likőrök.</li>
            <li>Alkoholok: A vodka, rum, tequila, gin, whisky és egyéb alkoholok különféle ízvilágot és karaktert adnak
              az
              italoknak.</li>
            <li>Bitterek és Aromás Szerek: Az Angostura és egyéb bitterek, valamint fűszerek, mint a menta, bazsalikom,
              és
              szegfűszeg.</li>
            <li>Szószok és Szószok: Például a Worcestershire szósz, Tabasco és egyéb szószok sokféle koktélhoz
              használhatóak.</li>
          </ul>
          <footer class="blockquote-footer">
            Az alapanyagok kreatív kombinációja és azok megfelelő egyensúlya teszi lehetővé a koktélkészítésben való
            mesterségesítést. Mindegyik alapanyag sajátos ízével és tulajdonságaival hozzájárul az italok
            különlegességéhez
            és ízletes karakteréhez.
          </footer>
        </blockquote>
      </div>
    </div>

    <div class="card md-3 mb-5">
      <div class="card-header">
        <b>Bartender Eszközei: A Profizmus Alapjai</b>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p style="font-style: oblique; margin-bottom: 25px;">
            A bartender eszközei nélkülözhetetlenek a professzionális koktélkészítéshez. Ezek a szerszámok segítik a
            pontos mérésben, keverésben és szervírozásban, és hozzájárulnak az italok minőségéhez és ízélményéhez.
          </p>
          <ul>
            <li>Shaker: Az egyik legfontosabb eszköz a bartender számára, segítségével keverhetők és rázhatók össze az
              italok.</li>
            <li>Mérőpohár: Pontos mennyiségek mérésére használt eszköz, amely elengedhetetlen a kiegyensúlyozott
              koktélokhoz.</li>
            <li>Barléc: Egyenes vagy hajlított, a pult fölé szerelhető rúd, amelyre a poharak és eszközök függeszthetők,
              hogy
              helyet takarítsanak meg.</li>
            <li>Strainer: Szűrőeszköz, amely segít leszűrni az italokat a shakerből a pohárba, hogy megakadályozza a
              jég
              és az összetevők maradékainak bejutását.</li>
            <li>Jégkocka Forma: Különböző méretű és formájú jégkockák készítésére szolgáló forma, amelyek fontosak az
              italok
              hűtéséhez.</li>
          </ul>
          <footer class="blockquote-footer">
            A megfelelő eszközök használata és kezelése segíti a bartendereket a hatékony és minőségi italkészítésben,
            és
            hozzájárul az italok professzionális színvonalához.
          </footer>
        </blockquote>
      </div>
    </div>

  </div>

</div>