.container{
  margin-top: 100px;
  padding: 100px 0;
}
.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
}

.card-title {
  color: #007bff;
}

.card-text {
  font-size: 0.9rem;
}

.card-img-top {
  border-radius: 0.5rem 0.5rem 0 0;
}

