<div class="blog-component col-xs-sm-md-lg">
    <div class="body">
        <div *ngFor="let post of posts" class="card md-3 mb-5">
            <div class="card-header">
                <textarea class="title-field" type="text" [(ngModel)]="post.title" name="title" readonly></textarea>
            </div>
            <div class="card-body ">
                <blockquote class="blockquote ">
                    <textarea class="text-field" type="text" [(ngModel)]="post.text" name="text" readonly></textarea>
                </blockquote>
            </div>
            <div class="data-cell">
                <button (click)="deletePost(post)">Törlés</button>
            </div>
        </div>
    </div>
</div>