.body{
    padding: 75px 0;
}
/* Kártyák formázása */
.card {
    background-color: #f8f9fa; /* Háttérszín */
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.125); /* Keret */
    border-radius: 0.25rem; /* Sarok lekerekítés */
    margin-top: 30px;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1); /* Árnyék */
}


/* Kártya fejléce */
.card-header {
    background-color: #672222;
    color: #fff;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

/* Főcím formázása */
.card-header b {
    font-size: 1.25rem;
}

/* Kártya tartalma */
.card-body {
    padding: 1.25rem;
}

/* Idézet blokk formázása */
.blockquote {
    border-left: 5px solid #5f5f5f;
    padding: 0.5rem 1rem;
    margin: 0 0 20px;
}

/* Idézet szövege */
.blockquote p {
    margin-bottom: 0.5rem;
    
}

@media (min-width: 768px) {
    .blog-component .card {
      width: 80%; /* Szélesség 80% */
      margin: auto; /* Középre igazítás */
    }
  }
  
  @media (max-width: 767px) {
    .blog-component .card {
      width: 100%; /* Szélesség 100% */
    }
  }
  
.title-field {
    width: 100%; 
}
.text-field {
    width: 100%;
    height: 200px;
}