<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Minden</h4>
        <ul>
          <li><a href="#">Rólunk</a></li>
          <li><a class="gjs-link" routerLink="/loginsignup">Profil </a></li>
          <li><a class="gjs-link" routerLink="/recipes">Koktélok </a></li>
          <li><a class="gjs-link" routerLink="/support">Segítség </a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
