<div class="test_body">
  <div class="container">
    <h1 class="cím">Alkohol kitisztulási idő kalkulátor</h1>
    <div class="tömeg">
      <label for="weight">Tömeg (kg):</label>
      <input type="number" id="weight" [(ngModel)]="weight" name="weight" required>
    </div>

    <div class="personal">
      <label for="gender">Nem:</label>
      <select id="gender" [(ngModel)]="gender" name="gender" required>
        <option value="male">Férfi</option>
        <option value="female">Nő</option>
      </select>
    </div>
    <div class="value" *ngFor="let pair of drinks; let i = index">
      <div class="mennyiseg">
      <label for="alcoholAmount">Elfogyasztott ital mennyisége (dl):</label>
      <input type="number" [(ngModel)]="pair.alcoholAmount" placeholder="dl">
    </div>
    <div class="szazalek">
      <label for="drinkAlcoholPercentage">Alkohol százaléka:</label>
      <input type="number" [(ngModel)]="pair.alcoholPercentage" placeholder="%">
      <button (click)="removeNumberPair(i)">Törlés</button>
    </div>
    </div>
    <button class="addNum" (click)="addNumberPair()">Hozzáadás</button>

    <div class="idő">
      <label for="timeSinceLastDrink">Utolsó ital elfogyasztása óta eltelt ideje (óra):</label>
      <input type="number" id="timeSinceLastDrink" [(ngModel)]="timeSinceLastDrink" name="timeSinceLastDrink" required>
    </div>

    <div class="ResultButton">
      <button (click)="onSubmit()">Számítás</button>
    </div>
    <div class="eredmeny">
    <div class="result" *ngIf="bloodAlcoholContent !== undefined">
      <b>A becsült véralkoholszintje: <span style="color: red;">{{ bloodAlcoholContent | number: '1.3-3' }} %
        </span></b>
    </div>
    <div class="result" *ngIf="bloodAlcoholContent !== undefined">
      <b>Az alkohol kitisztulásának várható ideje: <span style="color: red;">{{ soberingTime | number: '1.2-2' }}
          óra</span></b>
    </div>
    </div>
  </div>
</div>