.test_body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:url(src/assets/img/background_second.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-style: double;
  border-width: 4px;
  max-width: 600px;
  margin-top: 100px;
}

h1 {
  margin-bottom: 30px;
}

.form-control{
  text-align: center;
}

label {
  font-weight: bold;
}

.btn {
  width: 100%;
}
.result{
  margin-top: 20px;
}