<div class="test_body">
  <div class="container">
    <h1>Alkohol kitisztulási idő kalkulátor</h1>
    <form (ngSubmit)="calculate()">
      <div class="form-group">
        <label for="weight">Tömeg (kg):</label>
        <input type="number" class="form-control" id="weight" [(ngModel)]="weight" name="weight" required>
      </div>

      <div class="form-group">
        <label for="gender">Nem:</label>
        <select class="form-control" id="gender" [(ngModel)]="gender" name="gender" required>
          <option value="male">Férfi</option>
          <option value="female">Nő</option>
        </select>
      </div>

      <div class="form-group">
        <label for="alcoholAmount">Elfogyasztott alkohol mennyisége (dl):</label>
        <input type="number" class="form-control" id="alcoholAmount" [(ngModel)]="alcoholAmount" name="alcoholAmount" required>
      </div>

      <div class="form-group">
        <label for="drinkAlcoholPercentage">Alkohol százaléka:</label>
        <input type="number" class="form-control" id="drinkAlcoholPercentage" [(ngModel)]="drinkAlcoholPercentage" name="drinkAlcoholPercentage" required>
      </div>

      <div class="form-group">
        <label for="timeSinceLastDrink">Utolsó ital elfogyasztása óta eltelt ideje (óra):</label>
        <input type="number" class="form-control" id="timeSinceLastDrink" [(ngModel)]="timeSinceLastDrink" name="timeSinceLastDrink" required>
      </div>

      <button type="submit" class="btn btn-outline-success">Számol</button>
    </form>

    <div class="result" *ngIf="bloodAlcoholContent !== undefined">
      <b>A becsült véralkoholszintje: <span style="color: red;">{{ bloodAlcoholContent | number: '1.2-2'  }} % </span>.</b>
    </div>
    <div class="result" *ngIf="bloodAlcoholContent !== undefined">
      <b>Az alkohol kitisztulásának várható ideje: <span style="color: red;">{{ soberingTime | number: '1.2-2' }} óra</span>.</b>
    </div>
  </div>
</div>
