<div class="container">
  <h1 class="text-center">Alkoholos koktélok</h1>

  <form>

    <div class="form-group">
      <label for="name">Koktél neve</label>
      <input type="text" name="name" class="form-control">
    </div>

    <div class="form-group">
      <label for="name">leírása</label>
      <input type="text" name="name" class="form-control">
    </div>

    <div class="form-group">
      <label for="name">Összetevői</label>
      <input type="text" name="name" class="form-control">
    </div>

    <button class="btn btn-dark btn-sm mt-4">beküldés</button>
  </form>
  <div class="row">
    <!-- További koktélok itt -->
    <div *ngFor="let dri of drinks" class="">
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <!-- <img src="assets/img/cosmopolitan.jpg" class="card-img-top" alt="Cosmopolitan"> -->
          <div class="card-body">
            <h2 class="card-title">{{dri.Ital}}</h2>
            <p class="card-text">Leírása az italoknak.</p>

            <h3>Recept:</h3>
            <ul>
              <li *ngFor="let ingredient of dri.Recept | keyvalue">
                {{ ingredient.key }}: {{ ingredient.value }}
              </li>
            </ul>
          </div>
          <!-- <p class="card-text">- 40ml Vodka<br>- 15ml Triple Sec<br>- 30ml Áfonyalé<br>- 15ml Lime Juice<br>- Jégkocka</p> -->
        </div>
      </div>
    </div>
  </div>


</div>