<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">

    <a class="navbar-brand" routerLink="/">
      DrinkIsland
    </a>

    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span *ngIf="!isMenuOpen">🍺</span>
      <span *ngIf="isMenuOpen">🍻</span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="isMenuOpen">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Recipes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/recipes/alcoholic" (click)="toggleMenu()">Alkoholos Koktélok</a></li>
            <li><a class="dropdown-item" routerLink="/recipes/non-alcoholic" (click)="toggleMenu()">Alkoholmentes Koktélok</a></li>
            <li><a class="dropdown-item" routerLink="/recipes/type-search" (click)="toggleMenu()">Keresés típus alapján</a></li>
            <li><a class="dropdown-item" routerLink="/recipes/detailed-search" (click)="toggleMenu()">Keresés név alapján</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="/blog" (click)="toggleMenu()">Coctail Blog</a></li>
        <li class="nav-item" *ngIf="isLoggedIn"><a class="nav-link" routerLink="/userBlog" (click)="toggleMenu()">Saját Posztok</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/calculator" (click)="toggleMenu()">Alcohol Calculator</a></li>
        <li class="nav-item dropdown" *ngIf="isAdmin">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/admin/alapanyag" (click)="toggleMenu()">Alapanyag</a></li>
            <li><a class="dropdown-item" routerLink="/admin/ital" (click)="toggleMenu()">Ital</a></li>
            <li><a class="dropdown-item" routerLink="/admin/recept" (click)="toggleMenu()">Recept</a></li>
            <li><a class="dropdown-item" routerLink="/admin/tipus" (click)="toggleMenu()">Típus</a></li>
            <li><a class="dropdown-item" routerLink="/admin/blog" (click)="toggleMenu()">Blog</a></li>
            <li><a class="dropdown-item" routerLink="/admin/user" (click)="toggleMenu()">User</a></li>
          </ul>
        </li>
      </ul>

      <ul class="navbar-nav">
        <!-- Ha BE van jelentkezve a felhasználó -->
        <ng-container *ngIf="isLoggedIn; else loggedOut">
          <li class="nav-item"><a class="nav-link" (click)="logout()" (click)="toggleMenu()">Kijelentkezés</a></li>
        </ng-container>
        <!-- Ha NINCS bejelentkezve a felhasználó -->
        <ng-template #loggedOut>
          <li class="nav-item"><a class="nav-link" routerLink="/loginsignup" (click)="toggleMenu()">Bejelentkezés</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/justsignup" (click)="toggleMenu()">Regisztráció</a></li>
        </ng-template>
      </ul>      
    </div>
  </div>
</nav>