*{
  box-sizing: border-box;
  color: #fff;
}
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  align-items: center;
  background: transparent;
  backdrop-filter: blur(5px);
}

.navbar-brand {
  margin-right: 2rem;
  font-size: 30px;
  color: #fff;
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 0;
}

.nav-item {
  margin-right: 1rem;
  color:#fff;
}
.nav-item:hover {
  color: #fff;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  list-style: none;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-menu a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.dropdown-menu a:hover {
  color: #f0f0f0;
}

.right_side{
  display: flex;
  align-items: center;
  margin-left: auto;
  list-style: none;
  padding-top: 20px;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:focus {
  color: #fff;
}
