<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">

    <a class="navbar-brand" routerLink="/">
      DrinkIsland
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
                href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Recipes
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="/recipes/alcoholic">Alcoholic Drinks</a></li>
              <li><a class="dropdown-item" routerLink="/recipes/non-alcoholic">Non-Alcoholic Drinks</a></li>
              <li><a class="dropdown-item" routerLink="/recipes/detailed-search">Detailed Search</a></li>
            </ul>
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="/ingredients">Ingredients</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/calculator">Alcohol Calculator</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/loginsignup">Bejelentkezés/regisztráció</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/support">segítség</a></li>
      </ul>

    </div>
  </div>
</nav>
