<div class="whole">
    <div class="container">
      <h1>Jelszó változtatás</h1>
      <form (ngSubmit)="setNewPassword()" #signupForm="ngForm">
        <div class="input-box">
          <label for="password">Új jelszó:</label>
          <input type="password" id="password" name="password" [(ngModel)]="password" required>
        </div>
        <div class="input-box">
          <label for="password_confirmation">Új jelszó újra:</label>
          <input type="password" id="password_confirmation" name="password_confirmation" [(ngModel)]="password_confirmation" required>
        </div>
        <button id="gomb" type="submit" class="btn">Jelszó megváltoztatása!</button>
        <div class="register_link">
          <p>
            Felhasználó törlése: 
            <button type="button" class="btn btn-danger" (click)="deleteAccount()">Fiók törlése</button>
          </p>
        </div>
      </form>
    </div>
  </div>
  