<div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <h2 class="mb-4">Hozzávalók</h2>
      </div>
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let ingredient of ingredients">
        <div class="card mb-3">
          <img src="https://via.placeholder.com/300" class="card-img-top" alt="Placeholder Image">
          <div class="card-body">
            <h5 class="card-title">{{ ingredient.name }}</h5>
            <p class="card-text">ID: {{ ingredient.id }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  


  <!-- //if(ingredient. id  == 1)
     {<img src="D:\Users\Fehér Mátyás\Documents\Suli\vizsgaremek\DrinkIsland\src\assets" class="card-img-top" alt="asnyád a rozéba">} -->