<div class="whole">
  <div>
    <form class="form-row" (submit)="addAlapanyag(newAlapanyag)">
      <label for="newAlapanyag">Új alapanyag neve:</label>
      <input type="text" id="newAlapanyag" [(ngModel)]="newAlapanyag.name" name="name" required>
      <label for="newAlapanyag">Mértékegysége:</label>
      <input type="text" id="newAlapanyag" [(ngModel)]="newAlapanyag.unit" name="unit" required>
      <button type="submit">Hozzáad</button>
    </form>

    <ul>
      <li class="header-row">
        <div class="header-cell">ID</div>
        <div class="header-cell">Név</div>
        <div class="header-cell">Mértékegység</div>
        <div class="header-cell"></div>
      </li>
      <li *ngFor="let alapanyag of alapanyagok" class="data-row">
        <div class="data-cell">
          <input type="number" [(ngModel)]="alapanyag.id" name="id" readonly>
        </div>
        <div class="data-cell">
          <input type="text" [(ngModel)]="alapanyag.name" name="name" required>
        </div>
        <div class="data-cell">
          <input type="text" [(ngModel)]="alapanyag.unit" name="unit" required>
        </div>
        <div class="data-cell">
          <button (click)="updateAlapanyag(alapanyag)">Mentés</button>
          <button (click)="deleteAlapanyag(alapanyag)">Törlés</button>
        </div>
      </li>
    </ul>
  </div>
</div>