<div class="whole">
<div id="registerForm" class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="registrationForm">
      <h1>
          Regisztráció
      </h1>      
      
      <div class="input-box">
        <input formControlName="username" type="text" placeholder="Felhasználónév" required>
      </div>

      <div class="input-box">
        <input formControlName="email" type="email" placeholder="Email" required>
      </div>

      <div class="input-box">
        <input formControlName="password" type="password" placeholder="Jelszó" required>
      </div>

      <div class="input-box">
        <input formControlName="password_confirmation" type="password" placeholder="Jelszó újra" required>
      </div>

      <button
          type="submit" class="btn">Regisztráció
      </button>

      <div class="Login_link">
          <p>
              Van már fiókod?
              <a routerLink="/loginsignup">Bejelentkezés</a>
          </p>
      </div>
  </form>
</div>
</div>