<div class="whole">
<div id="registerForm" class="container">
    <form action="">
      <h1>
          Regisztráció
      </h1>

      <div class="input-box">
          <input type="text" placeholder="Név" required>
      </div>      
      
      <div class="input-box">
          <input type="text" placeholder="Felhasználónév" required>
      </div>

      <div class="input-box">
          <input type="email" placeholder="Email" required>
      </div>

      <div class="input-box">
          <input type="password" placeholder="jelszó" required>
      </div>

      <div class="input-box">
          <input type="password" placeholder="jelszó újra" required>
      </div>

      <button
          type="submit" class="btn">Regisztráció
      </button>

      <div class="Login_link">
          <p>
              Van már fiókod?
              <a routerLink="/loginsignup">Bejelentkezés</a>
          </p>
      </div>
  </form>
</div>
</div>