<div class="whole">
    <div id="registerForm" class="container">
      <form (ngSubmit)="onSubmit()" [formGroup]="registrationForm">
        <input formControlName="username" type="text" placeholder="Felhasználónév" required>
        <input formControlName="email" type="email" placeholder="Email" required>
        <input formControlName="password" type="password" placeholder="jelszó" required>
        <input formControlName="password_confirmation" type="password" placeholder="jelszó újra" required>
  
        <button type="submit" class="btn">Regisztráció</button>
      </form>
    </div>
  </div>